In [61]:
import os
os.chdir('/Users/sahatprasad/Documents/csv files')
import numpy as np
import pandas as pd
train_data=pd.read_csv('Train_UWu5bXk.csv')

In [104]:
train_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.070482,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.070482,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [63]:
train_data.shape

(8523, 12)

In [101]:
train_data['Item_Visibility']=train_data['Item_Visibility'].replace(0,numpy.NaN)
print(train_data.isnull().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility               526
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [84]:
train_data.apply(lambda x: len(x.unique()))

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [162]:
#train_data['Item_Fat_Content'].apply(pd.value_counts)

In [82]:
 train_data["Item_Fat_Content"].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [312]:
 train_data["Item_Type"].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [111]:
#pd.pivot_table(train_data,values='Item_Weight', index=['Item_Identifier'])

In [100]:
missing=train_data['Item_Weight'].isnull()
print(sum(missing))

1463

In [137]:
train_data.fillna(train_data.mean(), inplace=True)

In [138]:
print(train_data.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [139]:
train_data['Outlet_Size'].mode()

0    Medium
dtype: object

In [152]:
#Import mode function:
from scipy.stats import mode

#Determing the mode for each
outlet_size_mode = train_data.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:x.mode().iat[0]))
print(outlet_size_mode)
miss_bool = train_data['Outlet_Size'].isnull() 
train_data.loc[miss_bool,'Outlet_Size'] = train_data.loc[miss_bool,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])
print(sum(train_data['Outlet_Size'].isnull()))

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium
0

In [159]:
print(train_data.isnull().sum())

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [313]:
#train_data.describe()

In [314]:
#train_data["Item_Fat_Content"].value_counts()

In [315]:
pd.get_dummies(train_data["Item_Fat_Content"]).head(2)

   LF  Low Fat  Regular  low fat  reg
0   0        1        0        0    0
1   0        0        1        0    0

In [316]:
pd.get_dummies(train_data["Outlet_Size"]).head(2)

   High  Medium  Small
0     0       1      0
1     0       1      0

In [182]:
train_data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [184]:
train_data.columns[4]

'Item_Type'

In [190]:
x=train_data.drop(train_data.columns[[0, 4, 6,9,10]], axis=1)

In [194]:
x["Item_Fat_Content"]=pd.get_dummies(x["Item_Fat_Content"])

In [197]:
x["Outlet_Size"]=pd.get_dummies(x["Outlet_Size"])

In [284]:
x['Item_Fat_Content']=x['Item_Fat_Content'].astype(int)

In [286]:
x['Outlet_Size']=x['Outlet_Size'].astype(int)

In [297]:
x['Outlet_Size'].dtypes

dtype('int64')

In [287]:
x.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales
0,9.30,1,0.016047,249.8092,1999,1,3735.1380
1,5.92,1,0.019278,48.2692,2009,1,443.4228

In [288]:
x.dtypes

Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                    int64
Item_Outlet_Sales            float64
dtype: object

In [289]:
y=x.Item_Outlet_Sales
X=x.drop('Item_Outlet_Sales', axis=1)

In [290]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from matplotlib import pyplot as plt
from sklearn import metrics

In [291]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

# Linear Regression Model

In [292]:
lm = LinearRegression()
lm.fit(X_train,y_train)
y_predict=lm.predict(X_test)
print(np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

1414.3639159353859

# Ridge Regression Model

In [293]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
ridge2 = Ridge(alpha = 0.05, normalize = True)
ridge2.fit(X_train, y_train)             # Fit a ridge regression on the training data
pred2 = ridge2.predict(X_test)           # Use this model to predict the test data
print(pd.Series(ridge2.coef_, index = X.columns)) # Print coefficients
print(np.sqrt(mean_squared_error(y_test, pred2)))         # Calculate the test MSE

Item_Weight                    -2.801710
Item_Fat_Content               90.095833
Item_Visibility             -4222.323631
Item_MRP                       14.798177
Outlet_Establishment_Year     -12.076861
Outlet_Size                    29.402308
dtype: float64
1415.991192709162

# Random Forest Model

In [311]:
from sklearn.ensemble import RandomForestRegressor
clf=RandomForestRegressor(n_estimators=1000)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

1396.1916449592086