In [1]:
import os
os.chdir('/Users/sahatprasad/Documents/csv files')
import numpy as np
import pandas as pd
train_data=pd.read_csv('Train_UWu5bXk.csv')

In [2]:
train_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
import numpy as np
train_data['Item_Visibility']=train_data['Item_Visibility'].replace(0,np.NaN)
print(train_data.isnull().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility               526
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
train_data.apply(lambda x: len(x.unique()))

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [13]:
outlet_size_mode = train_data.pivot_table(values='Item_Weight', columns='Item_Type',aggfunc=(lambda x:x.mean()))
print(outlet_size_mode)
miss_bool = train_data['Item_Weight'].isnull() 
train_data.loc[miss_bool,'Item_Weight'] = train_data.loc[miss_bool,'Item_Type'].apply(lambda x: outlet_size_mode[x])
print(sum(train_data['Item_Weight'].isnull()))

Item_Type    Baking Goods     Breads  Breakfast     Canned      Dairy  \
Item_Weight     12.277108  11.346936  12.768202  12.305705  13.426069

Item_Type    Frozen Foods  Fruits and Vegetables  Hard Drinks  \
Item_Weight     12.867061              13.224769    11.400328

Item_Type    Health and Hygiene  Household       Meat     Others    Seafood  \
Item_Weight           13.142314  13.384736  12.817344  13.853285  12.552843

Item_Type    Snack Foods  Soft Drinks  Starchy Foods
Item_Weight     12.98788     11.84746      13.690731
0

In [16]:
item_visibility = train_data.pivot_table(values='Item_Visibility', columns='Item_Type',aggfunc=(lambda x:x.mean()))
print(item_visibility) 
miss_bool = train_data['Item_Visibility'].isnull() 
train_data.loc[miss_bool,'Item_Visibility'] = train_data.loc[miss_bool,'Item_Type'].apply(lambda x: item_visibility[x])
print(sum(train_data['Item_Visibility'].isnull()))

Item_Type        Baking Goods    Breads  Breakfast    Canned     Dairy  \
Item_Visibility      0.074331  0.071069   0.088126  0.071779  0.076701

Item_Type        Frozen Foods  Fruits and Vegetables  Hard Drinks  \
Item_Visibility      0.069804               0.073719     0.070547

Item_Type        Health and Hygiene  Household     Meat   Others   Seafood  \
Item_Visibility            0.058958   0.064963  0.06536  0.06403  0.079974

Item_Type        Snack Foods  Soft Drinks  Starchy Foods
Item_Visibility     0.070866     0.069264       0.075184
0

In [18]:
#Import mode function:
from scipy.stats import mode

#Determing the mode for each
outlet_size_mode2 = train_data.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:x.mode().iat[0]))
print(outlet_size_mode2)
miss_bool = train_data['Outlet_Size'].isnull() 
train_data.loc[miss_bool,'Outlet_Size'] = train_data.loc[miss_bool,'Outlet_Type'].apply(lambda x: outlet_size_mode2[x])
print(sum(train_data['Outlet_Size'].isnull()))

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium
0

In [19]:
print(train_data.isnull().sum())

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [40]:
pd.get_dummies(train_data["Item_Fat_Content"]).head(2)

   0.0
0    1
1    1

In [41]:
pd.get_dummies(train_data["Outlet_Size"]).head(2)

   0.0
0    1
1    1

In [42]:
pd.get_dummies(train_data["Outlet_Identifier"]).head(2)

   0.0
0    1
1    1

In [43]:
pd.get_dummies(train_data["Outlet_Location_Type"]).head(2)

   0.0  1.0
0    0    1
1    1    0

In [44]:
x=train_data.drop(train_data.columns[[0,4,10]], axis=1)

In [46]:
x["Item_Fat_Content"]=pd.get_dummies(x["Item_Fat_Content"])

In [45]:
x["Outlet_Size"]=pd.get_dummies(x["Outlet_Size"])

In [47]:
x["Outlet_Identifier"]=pd.get_dummies(x["Outlet_Identifier"])

In [48]:
x["Outlet_Location_Type"]=pd.get_dummies(x["Outlet_Location_Type"])

In [49]:
y=x.Item_Outlet_Sales
X=x.drop('Item_Outlet_Sales', axis=1)

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from matplotlib import pyplot as plt
from sklearn import metrics

In [51]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

In [52]:
lm = LinearRegression()
lm.fit(X_train,y_train)
y_predict=lm.predict(X_test)
print(np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

1404.0738023795166

In [54]:
x.corr()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales
Item_Weight,1.000000,-0.018996,-0.018091,0.025821,-0.018996,-0.008376,-0.018996,-0.017756,0.012088
Item_Fat_Content,-0.018996,1.000000,-0.016603,0.001980,1.000000,0.011288,1.000000,0.707065,-0.000826
Item_Visibility,-0.018091,-0.016603,1.000000,-0.005279,-0.016603,-0.078227,-0.016603,-0.011380,-0.133745
Item_MRP,0.025821,0.001980,-0.005279,1.000000,0.001980,0.005020,0.001980,-0.016130,0.567574
Outlet_Identifier,-0.018996,1.000000,-0.016603,0.001980,1.000000,0.011288,1.000000,0.707065,-0.000826
Outlet_Establishment_Year,-0.008376,0.011288,-0.078227,0.005020,0.011288,1.000000,0.011288,0.014452,-0.049135
Outlet_Size,-0.018996,1.000000,-0.016603,0.001980,1.000000,0.011288,1.000000,0.707065,-0.000826
Outlet_Location_Type,-0.017756,0.707065,-0.011380,-0.016130,0.707065,0.014452,0.707065,1.000000,-0.011032
Item_Outlet_Sales,0.012088,-0.000826,-0.133745,0.567574,-0.000826,-0.049135,-0.000826,-0.011032,1.000000

In [56]:
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
clf=RandomForestRegressor(n_estimators=1000)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

1363.5983174552332